body {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    border: none;
    background-color: #f6f9ff;
}
a {
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #E63888;
    color: white ;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}
div.analise {
    display: center;
    background-color:white;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 16px;
    margin-top: 50px;
   
   
}